<table cellpadding="0" cellspacing="0" border="0" width="100%" width="100%"
	   style="text-align: center; max-width: 600px; margin: auto; background: #ffffff;">
	<tbody>
	<tr>
		<td style="background: #fbfbfb; height: 500px; color: black; vertical-align: top;">
			<div style="position: relative;">
                 <p style="font-size: 15px; text-align:left; margin-bottom: 0px; margin-top: 15px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;  color: black;">
                     {{email.title}}
                </p>
                <p style="font-size: 15px; text-align:left; margin-bottom: 0px; margin-top: 15px; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;  color: black;">
                    {{{email.content}}}
                </p>

			</div>
		</td>
	</tr>
	</tbody>
</table>
