#metric-list {
  max-width: 800px; }

#metric-list .metric-container h3 {
  text-align: left;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1; }

#metric-list .metric-container .boxes-and-controls {
  display: flex; }

#metric-list .metric-container .boxes-and-controls .metric-boxes {
  display: flex;
  flex-wrap: wrap; }

#metric-list .metric-container .boxes-and-controls .metric-boxes .metric-box {
  height: 100px;
  width: 100px;
  border: thin solid #2f4f4f;
  box-sizing: border-box; }

#metric-list .metric-container .boxes-and-controls .metric-boxes .metric-box.single {
  background: url(img/single.png) no-repeat center; }

#metric-list .metric-container .boxes-and-controls .metric-boxes .metric-box.double {
  background: url(img/double.png) no-repeat center; }

#metric-list .metric-container .boxes-and-controls .metric-boxes.discourage .metric-box.above {
  border-color: red;
  background-color: #ffcccc; }

#metric-list .metric-container .boxes-and-controls .decrement-metric {
  margin-left: 20px; }
